<div class="n-light-signup" data-trackable="light-signup">
	<div class="o-grid-row o-grid-row--compact">
		<div data-o-grid-colspan="12">
			<h2 class="n-light-signup__heading">Get a taste of the FT</h2>
			<p>
				Free top stories straight to your inbox, every morning.
			</p>
			<p>
				For 7 days, get 3 of the most talked about stories emailed directly to you.
			</p>
		</div>
	</div>
	<form action="/signup/api/light-signup" method="post">
		<div class="o-grid-row">
			<div data-o-grid-colspan="M6">
				<input type="text" placeholder="your@email.com" name="email" class="n-light-signup__email" data-trackable="email"/>
			</div>
			<div data-o-grid-colspan="M6">
				<input type="submit" value="Sign up" class="n-light-signup__submit" data-trackable="submit"/>
			</div>
		</div>
	</form>
	<div class="o-grid-row o-grid-row--compact">
		<div data-o-grid-colspan="12">
			<p class="n-light-signup__no-spam">
				No subscription necessary, no span. <a href="#" class="n-light-signup__link" data-trackable="see-sample-email">See sample email</a>.
			</p>
		</div>
	</div>
</div>
