<div class="n-light-signup" data-trackable="light-signup">
	<h2 class="n-light-signup__heading">Free FT content</h2>
	<p>
		Sign-up for 7 days of top FT new stories.
		<a href="#" class="n-light-signup__link" data-trackable="learn-more">Learn more</a>
	</p>
	<form action="https://ft-next-light-signup.herokuapp.com/subscribe" method="post">
		<input type="text" placeholder="your@email.com" class="n-light-signup__email" data-trackable="email"/>
		<input type="submit" value="Sign up" class="n-light-signup__submit" data-trackable="submit"/>
	</form>
</div>
