@import "o-typography/main";
@import "o-icons/main";
@import "o-buttons/main";
@import "o-grid/main";
@import "o-forms/main";
@import "o-colors/main";

@include oColorsSetUseCase(o-email-only-signup-box, border, 'pink-tint3');
@include oColorsSetUseCase(o-email-only-signup-box, background, 'white');
@include oColorsSetUseCase(o-email-only-signup-muted, text, 'grey-tint4');
@include oColorsSetUseCase(o-email-only-signup-link, text, 'teal-1');

.o-email-only-signup {
  @include oColorsFor(o-email-only-signup-box, background border);
  position: relative;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 15px;
  margin: 15px 0;
  display: inline-block;
}

.o-email-only-signup__heading {
  @include oTypographySans(l);
  @include oColorsFor(o-email-only-signup-muted, text);
  margin: 0;
  font-weight: 600;
}

.o-email-only-signup__tagline {
  @include oTypographySans(m);
  margin-top: 5px;
  margin-bottom: 5px;
}

.o-email-only-signup__text {
  @include oTypographySans(s);
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.light-signup__link {
  @include oTypographySans(m);
  @include oColorsFor(o-email-only-signup-link, text);
  font-size: 18px;
  text-decoration: none;
}

.o-email-only-signup__email {
  min-width: 250px;
  margin-right: 10px;
  width: 100%;
  min-height: 20px; /* same height as standard button, minus forms padding */
  margin-bottom: 5px;
}

.o-email-only-signup__submit {
  @include oButtons();
  @include oButtonsTheme(standout);
  text-transform: none;
  height: 36px;
  font-size: 18px;
  max-width: 100px;
  margin-bottom: 5px;
}

.o-email-only-signup__no-spam {
  @include oTypographySans(s);
  margin: 0;
  display: inline-block;
}

.o-email-only-signup__close {
  @include oIconsGetIcon(
    $icon-name: 'cross-disk',
    $color: oColorsGetColorFor(o-email-only-signup-muted, text)
  );
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.o-email-only-signup__visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.o-email-only-signup__inner {
  position: relative;
}

.o-email-only-signup__secondary {
  @include oTypographySans(m);
  @include oColorsFor(o-email-only-signup-muted, text);
  margin: 15px 0;
}

.o-email-only-signup__email-error-msg {
  width: 100%;
  display: inline-block;
}
