@include oColorsSetColor('o-email-only-signup-placeholder-grey', #767676);

@include oColorsSetUseCase(o-email-only-signup-box, border, 'teal-1');
@include oColorsSetUseCase(o-email-only-signup-input, border, 'teal-1');
@include oColorsSetUseCase(o-email-only-signup-muted, text, 'grey-tint4');
@include oColorsSetUseCase(o-email-only-signup-highlight, text, 'teal-1');
@include oColorsSetUseCase(o-email-only-signup-placeholder, text, 'o-email-only-signup-placeholder-grey');

@mixin placeholder {
	// sass-lint:disable no-vendor-prefixes
	&::-webkit-input-placeholder {@content}
	&:-moz-placeholder {@content}
	&::-moz-placeholder {@content}
	&:-ms-input-placeholder {@content}
	// sass-lint:enable no-vendor-prefixes
}

.o-email-only-signup__discreet {
	position: relative;
	padding-bottom: 15px;
}

.o-email-only-signup {
	@include oColorsFor(o-email-only-signup-box, border);
	position: relative;
	border-width: 2px;
	border-style: solid none;
	padding: 15px 0 0;
	margin: 15px 0;
	clear: both;

	@include oGridRespondTo(S) {
		padding: 15px 15px 0;
	}

	&:after {
		content: "";
		display: block;
		clear: both;
	}

	&--inline {
		float: left;
		margin-top: 0;

		@include oGridRespondTo(S) {
			max-width: 300px;
			margin-right: 24px;
		}
	}

	&--coloured-background {
		box-sizing: border-box;
		padding-left: 15px;
		padding-right: 15px;
		border: 1px solid oColorsGetPaletteColor('pink-tint3');
		background-color: oColorsGetPaletteColor('warm-5');
	}

	&__heading {
		@include oTypographySans(l);
		@include oColorsFor(o-email-only-signup-muted, text);
		margin: 0;
		font-weight: 600;
		padding-right: 25px; /* stop clipping with close icon */

		.o-email-only-signup__discreet & {
			@include oTypographySans(m);
			font-weight: 600;
			padding-right: 0;
		}

		&:first-child {
			background: url('https://www.ft.com/__origami/service/image/v2/images/raw/https%3a%2f%2fwww.ft.com%2F__assets%2Fcreatives%2fmyft-alerts-prefs%2fenvelope.svg?source=next&fit=scale-down&compression=best&width=40') 100% 0 no-repeat;
			padding-right: 45px;
		}
	}

	&__tagline {
		@include oTypographySans(m);
		margin-top: 5px;
		margin-bottom: 5px;
	}

	&__text {
		@include oTypographySans(s);
		font-size: 17px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	&__highlight {
		@include oColorsFor(o-email-only-signup-highlight, text);
		text-transform: uppercase;
	}

	&__no-spam {
		@include oTypographySans(s);
		margin: 0;
		display: inline-block;
	}

	/* mask image */
	&__promo {
		overflow: hidden;
	}

	/* responsive image inside promo */
	&__promo-image {
		position: absolute;
		width: 100%;
		/* adjust for gutter */
		margin-left: -(oGridGutter());

		@include oGridRespondTo(M) {
			margin-left: -(oGridGutter(M));
		}
	}

	&__email {
		@include oFormsCommonField();

		/* custom placeholder color */
		@include placeholder {
			@include oColorsFor(o-email-only-signup-placeholder, text);
			opacity: 1;
		}

		&.o-forms--error {
			@include oFormsCommonFieldInvalid();
		}
	}

	&__email-error-msg {
		@include oFormsErrorText();
		margin-bottom: 0;
	}

	&__select {
		@include oFormsCommonField();
		@include oFormsSelect();

		@include placeholder {
			@include oColorsFor(o-email-only-signup-placeholder, text);
		}

		&--inactive {
			@include oColorsFor(o-email-only-signup-placeholder, text);
		}
	}

	&__submit {
		@include oButtons($theme: standout);
		text-transform: none;
		height: 36px;
		width: 100%;
		margin-bottom: 5px;
	}

	&__close {
		@include oIconsGetIcon(
			$icon-name: 'cross',
			$color: oColorsGetColorFor(o-email-only-signup-muted, text),
			$iconset-version: 1
		);
		display: inline-block;
		width: 40px;
		height: 40px;
		cursor: pointer;
		position: absolute;
		top: -4px;
		right: -12px;
		border: 0; /* remove browser default button styles */
	}

	&__open {
		@include oTypographySans(s);
		@include oColorsFor(o-email-only-signup-muted, text);
		@include oIconsGetIcon(
			'arrow-down',
			oColorsGetColorFor(o-email-only-signup-muted, text),
			20,
			$iconset-version: 1
		);
		display: inline-block;
		width: auto;
		height: 20px; /* height + margin matches height of h3 */
		margin: 2px 0; /* matching line heights causes icon to be too big */
		padding-right: 25px;
		background-position: right 50%;
		cursor: pointer;
		float: right;
		border: 0; /* remove browser default button styles */
		text-indent: -9999px;
		text-align: left;
		white-space: nowrap;
		overflow: hidden;

		@include oGridRespondTo(S) {
			text-indent: 0;
		}
	}

	&__visually-hidden {
		position: absolute;
		overflow: hidden;
		clip: rect(0 0 0 0);
		height: 1px;
		width: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
	}

	&__inner {
		position: relative; /* fixes absolute close button position */
	}

	&__secondary {
		@include oTypographySans(m);
		@include oColorsFor(o-email-only-signup-muted, text);
		margin: 15px 0;
	}

	&__form-group {
		padding: 0 0 10px;
	}
}
